.App{
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 10%;
}

.search{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.search-input{
  width: 90%;
  height: 40px;
  font-size: 18px;
  border: none;
  border: 1px solid lightgray;
  text-indent: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}
.search-btn{
  width: 10%;
  height: 44px;
  background-color: blue;
  color: white;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;

}
.articles{
  padding: 20px;

  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body{
  background-color: #f3f3f3;
}
.article{
  width: 23%;
  margin-bottom: 20px;
}
.news-img{
  height: 200px;
  overflow: hidden;
  width: 100%;
}
.news-details{
  padding: 10px;
}
.btn{
  padding: 15px 35px;
  background-color: #1459b9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}